node_modules/
node_modules
CNAME

#firebase
/src/Api/secret.js
.firebaserc
storage.rules
firebase.json
database.rules.json
remoteconfig.template.json
.firebase
build/
/Components/Test/

#gatsby
.cache/
dist/

#public
public/static/
public/page-data/
public/chuck-map.json
public/render-page.js
public/render-page.js.map
public/webpack.stats.json
public/

.vscode/


#misc
toDo.txt