/*footer*/
.linkStyles{
  color:white;
  letter-spacing: 2px;
}
.footer{
  color: white;

}
.footerStyles{
    background-color: #313742;
    border-top: 1px solid #E7E7E7;
    align-items: left;
    padding: 20px;
    position: static;
    left: 0;
    bottom:0;
    height:60px;
    width: 100%;
}