body{
  background-color:#94a5c4;
}
#homeSection{
  width:50%;
}
#topHeader{
  width:100%;
}
/* Nav bar styles */
.navBar{
  border-radius: 0px;
  background-color: #313742;
  list-style-type: none;
  text-align: left !important;
}
.navTabs:active{
  background-color: white;
  color:black;
}
.navTabs{
  background-color: white;
  border-radius: 5px;
  border:2px solid black;
}
.navTabs:focus{
  background-color: #000000;
  color:white;
  outline: none;
}

.active a {
  background-color: white !important;
}

.nav-link{
  color:white;
}

/* Header styles */
.headerStyle{
  font-size: 60px;
  color: white;
  /*border: 2px solid white;*/
}

/* font Styles*/
.fontStyling{
  font-family: 'Lobster', cursive;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}
.headerFontStyling{
  font-family: 'Lobster', cursive;
}

/* container styles */
.containerStyle{

  border: 1px solid black;
}

.whiteBack{
  background: white;
  border-radius:5px;
}
.border{
  border-left: 3px solid black !important;
}
@media screen and (max-width:425px){
/* Changing the header size to 30px on mobile*/
  .headerStyle{
    font-size:30px;
  }
}
